
    <div class="ui-g">
        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
            <div class="margin-top-bottom">
                <fieldset>
                    <legend class="font-show">ข้อมูลส่วนตัว</legend>
                    

                </fieldset>


                <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 row">
                    <div class="center temple-button font-show">
                        <p-button type="button" label="แก้ไข" (onClick)='goToEdit()' ></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>



