.margin-top-bottom {
    margin: 20px
}

.layout-content {
    background-color: #fff;
    border-radius: 1em;
    border: 1px solid #b8860b;
    margin-left: 17px;
    margin-right: 17px;
    display: flex;
}

.layout-footer {
    margin-top: 30px;
    background-color: #cdaa54;
    width: 100%;
    height: 50px;
}

.breadcrumb {
    width: 100%;
}

:host>>>.temple-button .ui-button {
    margin-left: 5px;
    margin-right: 5px;
}
/* radioButton */
:host>>>.ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: #9e7309;
    background-color: #9e7309;
}
:host>>>button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left[ng-reflect-label="Yes"]{
    background-color: #007ad9 ;
    border: #007ad9 ;
    border-radius: 3px;
}
:host>>>button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left:hover[ng-reflect-label="Yes"] {
    background-color: #2a8dda;
    border: #2a8dda;
    border-radius: 3px;
}
:host>>>button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left[ng-reflect-label="No"]{
    background-color: #e91224 ;
    border: #e91224 ;
    border-radius: 3px;
}
:host>>>button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left:hover[ng-reflect-label="No"] {
    background-color: #ff5656;
    border: #ff5656;
    border-radius: 3px;
}
:host>>>.temple-button .ui-button[type = submit] {
    background-color: #007ad9 !important;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    border: #007ad9 !important;
    border-radius: 5px;
    font-size: 1em;
}
:host>>>.temple-button .ui-button:hover[type = submit]  {
    background-color: #2a8dda!important;
    border: #2a8dda;
    border-radius: 5px;
}
:host>>>.temple-button .ui-button[type = button] {
    background-color: #e91224 !important;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    border: #e91224 !important;
    border-radius: 5px;
    font-size: 1em;
}
:host>>>.temple-button .ui-button:hover[type = button] {
    background-color: #ff5656!important;
    border: #ff5656;
    border-radius: 5px;
}

.center {
    margin: auto;
}

.text-right {
    text-align: right;
    padding-top: inherit;
}

@media only screen and (max-width: 640px) {
    .text-right {
        text-align: left;
        padding-top: inherit;
    }
}

.text-danger.text-invalid {
    color: red !important;
}

.text-left {
    padding-left: 15px;
    text-align: left;
    font-size: 1em;
}

:host>>>.ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #9e7309;
    background-color: #b8860b;
}

.img-info {
    width: 200px;
}

#profile {
    display: none;
}

.btn-upload {
    margin-top: 15px;
}

:host>>>button.ui-datepicker-trigger.ui-calendar-button.ng-tns-c7-1.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ng-star-inserted {
    border: 1px solid#b8860b;
    background: #b8860b;
}

:host>>>button.ui-datepicker-trigger.ui-calendar-button.ng-tns-c7-1.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ng-star-inserted:hover :not(:focus) {
    background-color: #cdaa54;
}


hr{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: auto;
    border-top: 2px solid #b8860b;
    width: 100%;
    text-align: left;
  }
