<div class="ui-g-12">
    <div class="row">
      
        <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-12 aa">
            <p-card header="  ลืมรหัสผ่าน" [style]="{width: '360px',height:'250px'}">
          <form [formGroup]="form" (submit)="onSubmit($event)">
            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ui-fluid">
              <label>Email address</label>
              <input type="text" pInputText formControlName="email" name="email" placeholder="Enter email" />
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ui-fluid">
              <label>Username</label>
              <input type="text" pInputText formControlName="username" name="username" placeholder="username" />
            </div>
            <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-fluid">
              <button pButton type="button" label="ขอรหัสผ่าน" class="ui-button-warning"></button>
  
            </div>
            <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-fluid">
                <button pButton type="button" label="Back" class="ui-button-info" routerLink="/auth/login"></button>
  
              </div>
          </form>
        </p-card>
        </div>
      
    </div>
  