<div class="ui-fluid">
  <div class="container">
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
      <div class="row">
        <div class="ui-g-12 ui-lg-3 ui-md-5 ui-sm-12 horizontal-center">
          <p-card>
            <p-header>ลืมรหัสผ่าน</p-header>
            <form [formGroup]="form" (submit)="onSubmit($event)">
              <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                <label for="email">Email address</label>
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <fa-icon [icon]="['fas', 'at']"></fa-icon>
                  </span>
                  <input type="text" pInputText formControlName="email" name="email" placeholder="Email address" />
                </div>
              </div>
              <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                <label for="username">Username</label>
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <fa-icon [icon]="['fas', 'user']"></fa-icon>
                  </span>
                  <input type="text" pInputText id="username" formControlName="username" name="username"
                    placeholder="Username" />
                </div>
              </div>
              <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6">
                  <button pButton type="button" label="ขอรหัสผ่าน" class="ui-button-warning"></button>
                </div>
                <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6">
                  <button pButton type="button" label="Back" class="ui-button-secondary" routerLink="/auth/login"></button>
                </div>
              </div>
            </form>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>