<form [formGroup]="formEdit" novalidate>
  <div class="ui-g">
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ">
      <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-12">
        <label><b>ชื่อคอร์ส</b></label></div>
      <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
        <input type="text" class="form-control" pInputText placeholder="ชื่อคอร์ส" formControlName="courseName">
        <div
          *ngIf="formEdit.controls['courseName'].invalid && (formEdit.controls['courseName'].dirty || formEdit.controls['courseName'].touched)"
          class="alert alert-danger">
          <div class="text-danger text-invalid" *ngIf="formEdit.controls['courseName'].errors.required">
            กรุณากรอกชื่อคอร์ส</div>
        </div>
      </div>

      <div class="ui-g-12 ui-lg- ui-md-2 ui-sm-12">
        <label><b>รายละเอียด</b></label></div>
      <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
        <textarea [rows]="5" [cols]="30" class="fixtextarea" pInputText placeholder="รายละเอียด"
          formControlName="detail"></textarea>
        <div
          *ngIf="formEdit.controls['detail'].invalid && (formEdit.controls['detail'].dirty || formEdit.controls['detail'].touched)"
          class="alert alert-danger">
          <div class="text-danger text-invalid" *ngIf="formEdit.controls['detail'].errors.required">
            กรุณากรอกรายละเอียดคอร์ส</div>
        </div>
      </div>

      <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-12">
        <label><b>สถานที่</b></label></div>
      <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
        <p-dropdown [options]="location" placeholder="สถานที่" formControlName="location" value="id" optionLabel="name" >
        </p-dropdown>
        <div
          *ngIf="formEdit.controls['location'].invalid && (formEdit.controls['location'].dirty || formEdit.controls['location'].touched)"
          class="alert alert-danger">
          <div class="text-danger text-invalid" *ngIf="formEdit.controls['location'].errors.required">
            กรุณาระบุสถานที่</div>
        </div>
      </div>


      <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-12">
        <label><b>วันที่เรียน
          </b></label></div>
      <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
        <p-calendar class="calendar-button" dateFormat="dd/mm/yy" [monthNavigator]="true" formControlName="date"
          selectionMode="range" [readonlyInput]="true" [yearNavigator]="true" [yearRange]="yearRange">
        </p-calendar>
        <div
          *ngIf="formEdit.controls['date'].invalid && (formEdit.controls['date'].dirty || formEdit.controls['date'].touched)"
          class="alert alert-danger">
          <div class="text-danger text-invalid" *ngIf="formEdit.controls['date'].errors.required">
            กรุณาระบุวันที่เรียน</div>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-12">
        <label><b>ผู้สอน
          </b></label></div>
      <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
        <p-autoComplete formControlName="teacher" [suggestions]="filteredTeacher" value="id"
          (completeMethod)="filterTeacherMultiple($event)" styleClass="wid100" [minLength]="1" placeholder="ผู้สอน"
          field="name" [multiple]="true" [dropdown]="true">
        </p-autoComplete>
        <div
          *ngIf="formEdit.controls['teacher'].invalid && (formEdit.controls['teacher'].dirty || formEdit.controls['teacher'].touched)"
          class="alert alert-danger">
          <div class="text-danger text-invalid" *ngIf="formEdit.controls['teacher'].errors.required">
            กรุณาระบุผู้สอน</div>
        </div>
      </div>

      <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-12">
        <label><b>หมายเหตุ</b></label></div>
      <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
        เงื่อนไขการผ่านคอร์สอย่างน้อย
        <p-dropdown [options]="notice" placeholder="หมายเหตุ" formControlName="conditionMin" value="id"
          optionLabel="id" ></p-dropdown> คอร์ส
        <div
          *ngIf="formEdit.controls['conditionMin'].invalid && (formEdit.controls['conditionMin'].dirty || formEdit.controls['conditionMin'].touched)"
          class="alert alert-danger">
          <div class="text-danger text-invalid" *ngIf="formEdit.controls['conditionMin'].errors.required">
            กรุณาระบุเงื่อนไขการผ่านคอร์ส</div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 row">
      <div class="center temple-button font-show">
        <p-button type="submit" label="ยืนยัน" (onClick)="onSubmit($event)" [disabled]="formEdit.pristine || formEdit.invalid"></p-button>
        <p-button type="button" label="ยกเลิก" (onClick)="onCancel()"></p-button>
      </div>
    </div>
  </div>
</form>
