.center-grid {
    margin: 0 auto;
}

:host>>>div.background {
    background-color: #f0e6ce !important;
}

.breadcrumb {
    width: 100%;
    border-color: #b8860b;
    color: 675c41;
    background-color: #f1efe9;
}