<div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 warp-menu ui-container">
    <div class="ui-g">
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12 menu-card" [routerLink]="['/profile/1']">
            <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                <img class="img-menu" src="/assets/images/1info.png" alt>
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 ">
                <div class="text-center">ข้อมูลส่วนตัว</div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12 menu-card" [routerLink]="['/courses']">
            <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                <img class="img-menu" src="/assets/images/agenda.png" alt>
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
                <div class="text-center">ลงทะเบียนเรียน</div>
            </div>
        </div>
    </div>
    <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12 menu-card" [routerLink]="['/schedule']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/calendar.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-center">ตารางเรียน</div>
        </div>
    </div>
    <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12 menu-card" [routerLink]="['/schedule']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/calendar.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-center">ตารางสอน</div>
        </div>
    </div>
    <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12 menu-card" [routerLink]="['/']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/hiring.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-center">อนุมัติพิเศษ</div>
        </div>
    </div>
    <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12 menu-card" [routerLink]="['/']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/notebook.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-center">จัดการทะเบียนเรียน</div>
        </div>
    </div>
    <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12 menu-card" [routerLink]="['/users']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/team.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-center">จัดการสมาชิก</div>
        </div>
    </div>
    <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12 menu-card" [routerLink]="['/managedTitlename']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/id-card.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-center">จัดการคำนำหน้า</div>
        </div>
    </div>
    <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12 menu-card" [routerLink]="['/location']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/temple.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-center">จัดการสถานที่</div>
        </div>
    </div>
    <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12 menu-card" [routerLink]="['/baggages']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/lockers.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-center">จัดการสัมพาระ</div>
        </div>
    </div>

</div>