.menu {
    margin: 15%;
}

.first-menu-card {
    margin-top: 12px;
}

.menu-card {
    background: #cdaa54;
    border-color: #cdaa54;
    border-radius: 2px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.menu-card:hover {
    background: #b8860b;
    border-color: #b8860b;
}

.img-menu {
    width: 5em;
}


/* .text-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
} */

.text-canter {
    height: 100%;
}


/* .full {
    margin: 0 auto;
}

:host>>>.ui-g-12.ui-lg-12.ui-md-8.ui-sm-8.height-content {
    height: 5em;
} */