<div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 menu-card first-menu-card" [routerLink]="['/profile/1']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/1info.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-canter">ข้อมูลส่วนตัว</div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 menu-card first-menu-card" [routerLink]="['/courses']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/agenda.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-canter">ลงทะเบียนเรียน</div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 menu-card first-menu-card" [routerLink]="['/schedule']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/calendar.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-canter">ตารางเรียน</div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 menu-card first-menu-card" [routerLink]="['/schedule']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/calendar.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-canter">ตารางสอน</div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 menu-card first-menu-card" [routerLink]="['/']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/hiring.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-canter">อนุมัติพิเศษ</div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 menu-card first-menu-card" [routerLink]="['/']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/notebook.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-canter">จัดการทะเบียนเรียน</div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 menu-card first-menu-card" [routerLink]="['/users']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/team.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-canter">จัดการสมาชิก</div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 menu-card first-menu-card" [routerLink]="['/managedTitlename']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/id-card.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-canter">จัดการคำนำหน้า</div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 menu-card first-menu-card" [routerLink]="['/location']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/temple.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-canter">จัดการสถานที่</div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 menu-card first-menu-card" [routerLink]="['/baggages']">
        <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
            <img class="img-menu" src="/assets/images/lockers.png" alt>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 height-content">
            <div class="text-canter">จัดการสัมพาระ</div>
        </div>
    </div>

</div>