<!-- <p-card> -->
<form [formGroup]="form" (submit)="onSubmit($event)">
  <div class="ui-g">

    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 title-p-card">
      {{title}}
    </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
      <div class="ui-fluid">
        <app-register-input *ngIf="formRegisterDisplay" [formError]="formError" (usernameData)='setUsername($event)'
          (passwordData)='setPassword($event)' (repasswordData)='setRepassword($event)'>
        </app-register-input>
        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
          <fieldset>
            <legend>ข้อมูลส่วนตัว</legend>

            <div class="ui-inputgroup">
              <div class="ui-g-12 ui-g-offset-2 ui-lg-3 ui-lg-offset-2 ui-md-3 ui-md-offset-1 ui-sm-12 ui-sm-offset-0">
                คำนำหน้า*
              </div>
              <div class="ui-g-12 ui-lg-7 ui-md-8 ui-sm-9">
                <p-dropdown [options]="titleName" optionLabel="titleNameDisplay" formControlName="titleName" [(ngModel)]="titleNamePerson">
                </p-dropdown>
                <div *ngIf="formError.titleName" class="text-danger text-invalid">{{formError.titleName}}</div>
              </div>
            </div>
            <div class="ui-inputgroup">
              <div class="ui-g-3 ui-g-offset-2 ui-lg-3 ui-lg-offset-2 ui-md-3 ui-md-offset-1 ui-sm-3 ui-sm-offset-0">
                ชื่อ*
              </div>
              <div class="ui-g-7 ui-lg-7 ui-md-8 ui-sm-9">
                <div><input type="text" pInputText placeholder="ชื่อ" formControlName="fname">
                </div>
                <div *ngIf="formError.fname" class="text-danger text-invalid">{{formError.fname}}</div>
              </div>
            </div>
            <div class="ui-inputgroup">
              <div class="ui-g-3 ui-g-offset-2 ui-lg-3 ui-lg-offset-2 ui-md-3 ui-md-offset-1 ui-sm-3 ui-sm-offset-0">
                นามสกุล*
              </div>
              <div class="ui-g-7 ui-lg-7 ui-md-8 ui-sm-9">
                <div><input type="text" pInputText placeholder="นามสกุล" formControlName="lname"></div>
                <div *ngIf="formError.lname" class="text-danger text-invalid">{{formError.lname}}</div>
              </div>
            </div>

            <div class="ui-inputgroup">
              <div class="ui-g-3 ui-g-offset-2 ui-lg-3 ui-lg-offset-2 ui-md-3 ui-md-offset-1 ui-sm-3 ui-sm-offset-0">
                วันเกิด*
              </div>
              <div class="ui-g-7 ui-lg-7 ui-md-8 ui-sm-9">
                <div>
                  <p-calendar formControlName="birthday" placeholder="01/01/1990" [locale]="th" [showIcon]="true"
                    [yearRange]="yearRange" [yearNavigator]="true"></p-calendar>
                </div>
                <div *ngIf="formError.birthday" class="text-danger text-invalid">{{formError.birthday}}</div>
              </div>
            </div>

            <div class="ui-inputgroup">
              <div class="ui-g-3 ui-g-offset-2 ui-lg-3 ui-lg-offset-2 ui-md-3 ui-md-offset-1 ui-sm-3 ui-sm-offset-0">
                เพศ*
              </div>
              <div class="ui-g-7 ui-lg-7 ui-md-8 ui-sm-9">
                <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                  <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12 ">
                    <p-radioButton name="gender" value='1' label="ชาย" formControlName="gender">
                    </p-radioButton>
                  </div>
                  <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12">
                    <p-radioButton name="gender" value='2' label="หญิง" formControlName="gender"></p-radioButton>
                  </div>
                  <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12">
                    <p-radioButton name="gender" value='3' label="ไม่ระบุ" formControlName="gender"></p-radioButton>
                  </div>
                </div>
                <div *ngIf="formError.gender" class="text-danger text-invalid">{{formError.gender}}</div>
              </div>
            </div>
            <div class="ui-inputgroup">
              <div class="ui-g-3 ui-g-offset-2 ui-lg-3 ui-lg-offset-2 ui-md-3 ui-md-offset-1 ui-sm-3 ui-sm-offset-0">
                ที่อยู่*
              </div>
              <div class="ui-g-7 ui-lg-7 ui-md-8 ui-sm-9">
                <div><textarea [rows]="5" [cols]="30" class="fixtextarea" pInputTextarea
                    formControlName="address"></textarea>
                </div>
                <div *ngIf="formError.address" class="text-danger text-invalid">{{formError.address}}</div>
              </div>
            </div>
            <div class="ui-inputgroup">
              <div class="ui-g-3 ui-g-offset-2 ui-lg-3 ui-lg-offset-2 ui-md-3 ui-md-offset-1 ui-sm-3 ui-sm-offset-0">
                เบอร์โทร*
              </div>
              <div class="ui-g-7 ui-lg-7 ui-md-8 ui-sm-9">
                <div>
                  <p-inputMask mask="(999) 999-9999" placeholder="(099) 999-9999" formControlName="phone">
                  </p-inputMask>
                </div>
                <div *ngIf="formError.phone" class="text-danger text-invalid">{{formError.phone}}</div>
              </div>
            </div>
            <div class="ui-inputgroup">
              <div class="ui-g-3 ui-g-offset-2 ui-lg-3 ui-lg-offset-2 ui-md-3 ui-md-offset-1 ui-sm-3 ui-sm-offset-0">
                email*
              </div>
              <div class="ui-g-7 ui-lg-7 ui-md-8 ui-sm-9">
                <div><input type="text" pInputText placeholder="example@example.com" formControlName="email"></div>
                <div *ngIf="formError.email" class="text-danger text-invalid">{{formError.email}}</div>
              </div>
            </div>
            <div class="ui-inputgroup">
              <div class="ui-g-3 ui-g-offset-2 ui-lg-3 ui-lg-offset-2 ui-md-3 ui-md-offset-1 ui-sm-3 ui-sm-offset-0">
                เบอร์ติดต่อฉุกเฉิน*
              </div>
              <div class="ui-g-7 ui-lg-7 ui-md-8 ui-sm-9">
                <div>
                  <p-inputMask mask="(999) 999-9999" placeholder="(099) 999-9999" formControlName="phoneEmergency">
                  </p-inputMask>
                </div>
                <div *ngIf="formError.phoneEmergency" class="text-danger text-invalid">{{formError.phoneEmergency}}
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 center-grid">
              <app-confirm-button *ngIf="buttonVisible"></app-confirm-button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- </p-card> -->