.center-grid{
    margin: 0 auto   ;
}
div.text-danger.text-invalid{
    color: rgb(255, 0, 0)
}
.title-p-card{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

legend{
    margin: 2em;
    font-size: 1.15em;
    font-weight: bold;
    background-color: white;
}

fieldset {
    
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.5);
    border-radius: 5px;
}

:host >>> .fixtextarea {
    max-width: 100% !important;
    min-width: 100% !important;
}
