:host>>> button.ui-autocomplete-dropdown.ng-tns-c8-2.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ng-star-inserted{
    background-color: #b8860b !important;
    border: #b8860b !important;
}

:host>>> li.ui-autocomplete-token.ui-state-highlight.ui-corner-all.ng-tns-c8-2.ng-star-inserted{
    background-color: #b8860b !important;
    border: #b8860b !important;
}