<form [formGroup]="formEdit">
  <div class="ui-g">
  <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ">
    <div style="text-align: center">
      <h2>สร้างคอร์ส</h2>
    </div>
    <div class="container">
      <p-card [style]="{width: '100%',height:'100%'}">
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-12">
            <label><b>ชื่อคอร์ส</b></label></div>
          <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
            <input type="text" pInputText placeholder="ชื่อคอร์ส" formControlName="courseName">
          </div>

          <div class="ui-g-12 ui-lg- ui-md-2 ui-sm-12">
            <label><b>รายละเอียด</b></label></div>
          <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
            <textarea [rows]="5" [cols]="30" class="fixtextarea" pInputText placeholder="รายละเอียด"
              formControlName="detail"></textarea>
          </div>

          <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-12">
            <label><b>สถานที่</b></label></div>
          <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
            <input type="text" pInputText placeholder="สถานที่" formControlName="location">
          </div>

          <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-12">
            <label><b>หมาตเหตุ</b></label></div>
          <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
            <p-dropdown [options]="courses" filter="true" [autoWidth]="false">
              <ng-template let-item pTemplate="courses">
                <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
              </ng-template>
              <ng-template let-note pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <div style="font-size:14px;float:right;margin-top:4px">{{note.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-12">
            <label><b>หมาตเหตุ</b></label></div>
          <div class="ui-g-12 ui-lg-10 ui-md-10 ui-sm-12 ">
            <p-dropdown [options]="courses" placeholder="หมาตเหตุ" formControlName="conditionMin"
              optionLabel="display"></p-dropdown>
          </div>


        </div>


      </p-card>
    </div>

  </div>
  </div>
</form>