<div class="ui-g">
  <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
    <div style="text-align:center">
      <h1>ตารางคอร์ส</h1>
    </div>
    <div class="line"></div>
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
        <p-messages [value]="msgs"></p-messages>
        <p-table #dt [columns]="cols" [value]="courses" [paginator]="true" [rows]="5" [responsive]="true" [lazy]="true"
          (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [loading]="loading">
          <ng-template pTemplate="caption">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12 ui-lg-3 ui-md-3 ui-sm-12" style="text-align:left">
                <button pButton type="button" (click)="createCourse()" label="เพิ่ม" class="ui-button-info"
                  id="btn-Increase" style="width: 60%"></button>
              </div>
              <div class="ui-g-12 ui-lg-3 ui-md-3 ui-sm-12" style="margin-left: auto;">
                <div class="ui-inputgroup">
                  <fa-icon [icon]="['fas', 'search']" class="ui-inputgroup-addon"></fa-icon>
                  <input type="text" pInputText placeholder="ค้นหา"
                    (input)="dt.filterGlobal($event.target.value, 'contains')">
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="date">
                วันที่สร้าง
                <p-sortIcon field="date" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon>
              </th>
              <th pSortableColumn="lastdate">
                วันที่แก้ไขล่าสุด
                <p-sortIcon field="lastdate" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon>
              </th>
              <th pSortableColumn="name" class="ui-p-4">
                ชื่อคอร์ส
                <p-sortIcon field="name" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon>
              </th>
              <th pSortableColumn="location" class="ui-p-5">
                สถานที่
                <p-sortIcon field="location" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon>
              </th>
              <th pSortableColumn="conditionMin" class="ui-p-6">
                หมายเหตุ
                <p-sortIcon field="conditionMin" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon>
              </th>
              <th>

              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns;" >
                <div *ngIf="rowData[col.field] != rowData['status']">
                  <span class="ui-column-title">{{col.header}}</span>
                  <div *ngIf="rowData[col.field] == rowData['createDate'] && col.field == 'createDate'">
                    {{rowData["createDate"] | date:'dd/MM/yyyy'}}
                  </div>
                  <div *ngIf="rowData[col.field] == rowData['lastUpdate'] && col.field == 'lastUpdate'">
                    {{rowData["lastUpdate"] | date:'dd/MM/yyyy'}}
                  </div>
                  <div *ngIf="rowData[col.field] == rowData['name']">
                    {{rowData["name"]}}
                  </div>
                  <div *ngIf="rowData[col.field] == rowData['locationName']">
                    {{rowData["locationName"] }}
                  </div>
                  <div *ngIf="rowData[col.field] == rowData['conditionMin']">
                    ต้องผ่านอย่างน้อย <b>{{rowData[col.field]}}</b> คอร์ส</div>


                </div>
              </td>
              <td>
                <div class="ui-g" style="text-align: center">
                  <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                    <button pButton type="button" class="ui-button-warning" label="แก้ไข"
                      (click)="editCourse(rowData['id'])" style="width: 100%"></button>
                  </div>
                  <!-- <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                      <button pButton type="button" (click)="deleteCourse(rowData['id'])" label="ลบ"
                        class="ui-button-warning"></button>
                    </div> -->
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

  </div>
</div>

<p-dialog header="สร้างคอร์ส" [(visible)]="showDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [style]="{width: '650px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000" (onHide)="Close()">
  <app-course-create (displayDialog)="onCancel($event)" (showMessageCreate)="onShowMessage($event)" #closeDialog></app-course-create>
</p-dialog>

<p-dialog header="แก้ไขคอร์ส" [(visible)]="showEditDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [style]="{width: '700px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000" >
  <app-course-edit #courseEdit (displayEditDialog)="onCancel($event)"></app-course-edit>
</p-dialog>
