@import url('https://fonts.googleapis.com/css?family=Trirong:300,400&subset=thai');
body {
    margin: 95px 0 0 0;
    background-color: #f0e6ce;
}

body,
body .ui-widget,
button,
pre {
    font-family: 'Trirong', sans-serif !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.line {
    border-bottom: 1px solid #cecece;
    clear: both;
    display: block;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 520px) {}

@media screen and (max-width: 414px) {
    .container {
        width: 95%;
    }
}