<p-tabView (onChange)="getTabViewStatus($event)">
  <p-tabPanel header="ยังไม่ได้ลงทะเบียน">
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div style="text-align:center">
          <h1>ตารางคอร์ส</h1>
        </div>
        <div class="line"></div>
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
            <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
            <p-messages [value]="msgs"></p-messages>
            <p-table #dt [columns]="cols" [value]="courses" [paginator]="true" [rows]="5" [responsive]="true"
              selectionMode="single" [(selection)]="selectedCourse" (onRowSelect)="onRowSelect($event)" [lazy]="true"
              (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [loading]="loading">
              <ng-template pTemplate="caption">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 ui-lg-3 ui-md-3 ui-sm-12" style="margin-left: auto;">
                    <div class="ui-inputgroup">
                      <fa-icon [icon]="['fas', 'search']" class="ui-inputgroup-addon"></fa-icon>
                      <input type="text" pInputText placeholder="ค้นหา"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" />
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pSortableColumn="date">
                    วันที่ปฏิบัติธรรม
                    <p-sortIcon field="date" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="name" class="ui-p-4">
                    ชื่อคอร์ส
                    <p-sortIcon field="name" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="location" class="ui-p-5">
                    สถานที่
                    <p-sortIcon field="location" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="conditionMin" class="ui-p-6">
                    หมายเหตุ
                    <p-sortIcon field="conditionMin" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th class="ui-p-6">
                    สถานะ
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td *ngFor="let col of columns">
                    <div>
                      <span class="ui-column-title">{{ col.header }}</span>
                      <div *ngIf="rowData[col.field] == rowData['stDate']">
                        {{ rowData["stDate"] | date:'dd/MM/yyyy'}} - {{ rowData["endDate"] | date:'dd/MM/yyyy'}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['name']">
                        {{ rowData["name"] }}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['locationName']">
                        {{ rowData["locationName"] }}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['conditionMin']">
                        ต้องผ่านอย่างน้อย {{ rowData["conditionMin"] }} คอร์ส
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['status']">
                        {{ rowData["status"] }}
                      </div>
                    </div>
                  </td>
                  <td >
                    <div class="ui-g" style="text-align: center" *ngIf="
                              rowData['saStatus'] !== '2' && rowData['canRegister'] === 1">
                      <div class="ui-g-5 ui-lg-12 ui-md-12 ui-sm-12"
                        *ngIf="totalRecordPass >= rowData['conditionMin'] || rowData['conditionMin'] === 0">
                        <button pButton type="button" label="สมัคร" (click)="mhcCourse(rowData['id'])"
                          [disabled]="rowData['canRegister'] === 0" style="width:100%"></button>
                      </div>
                      <div class="ui-g-7 ui-lg-12 ui-md-12 ui-sm-12" *ngIf="totalRecordPass < rowData['conditionMin']">
                        <button pButton type="button" label="ขออนุมัติพิเศษ" class="ui-button-success"
                          [disabled]="rowData['canRegister'] === 0" (click)="saCourse(rowData['id'])" style="width:100%"></button>
                      </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12" *ngIf="
                              rowData['saStatus'] === '2' && rowData['canRegister'] === 0
                            ">
                      <button pButton type="button" label="ยกเลิกการขออนุมัติพิเศษ" class="ui-button-danger"
                        [disabled]="rowData['canRegister'] !== 0"
                        (click)="cancelApprovalCourse(rowData['id'])" style="width:100%"></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="ลงทะเบียนเรียนแล้ว">
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div style="text-align:center">
          <h1>ตารางคอร์สที่ลงทะเบียน</h1>
        </div>
        <div class="line"></div>
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
            <p-messages [value]="msgs"></p-messages>
            <p-table #dt [columns]="cols" [value]="courses2" [paginator]="true" [rows]="5" [responsive]="true"
              selectionMode="single" [(selection)]="selectedCourse" (onRowSelect)="onRowSelect($event)" [lazy]="true"
              (onLazyLoad)="loadData1($event)" [totalRecords]="TotalCourseStudy" [loading]="loading">
              <ng-template pTemplate="caption">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 ui-lg-3 ui-md-3 ui-sm-12" style="margin-left: auto;">
                    <div class="ui-inputgroup">
                      <fa-icon [icon]="['fas', 'search']" class="ui-inputgroup-addon"></fa-icon>
                      <input type="text" pInputText placeholder="ค้นหา"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" />
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pSortableColumn="date">
                    วันที่
                    <p-sortIcon field="date" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="name" class="ui-p-4">
                    ชื่อคอร์ส
                    <p-sortIcon field="name" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="location" class="ui-p-5">
                    สถานที่
                    <p-sortIcon field="location" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="conditionMin" class="ui-p-6">
                    หมายเหตุ
                    <p-sortIcon field="conditionMin" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th class="ui-p-6">
                    สถานะ
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td *ngFor="let col of columns">
                    <div>
                      <span class="ui-column-title">{{ col.header }}</span>
                      <div *ngIf="rowData[col.field] == rowData['stDate']">
                        {{ rowData["stDate"] | date:'dd/MM/yyyy'}} - {{ rowData["endDate"] | date:'dd/MM/yyyy'}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['name']">
                        {{ rowData["name"] }}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['locationName']">
                        {{ rowData["locationName"] }}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['conditionMin']">
                        ต้องผ่านอย่างน้อย {{ rowData["conditionMin"] }} คอร์ส
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['status']">
                        {{ rowData["status"] }}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="ui-g" style="text-align: center" *ngIf="
                              rowData['saStatus'] !== '2' && rowData['canRegister'] === 1
                            ">
                      <div class="ui-g-5 ui-lg-5 ui-md-12 ui-sm-12">
                        <button pButton type="button" label="สมัคร" (click)="mhcCourse(rowData['id'])"
                          [disabled]="rowData['canRegister'] === 0"></button>
                      </div>
                      <div class="ui-g-7 ui-lg-7 ui-md-12 ui-sm-12">
                        <button pButton type="button" label="ขออนุมัติพิเศษ" class="ui-button-success"
                          [disabled]="rowData['canRegister'] === 0 " (click)="saCourse(rowData['id'])"></button>
                      </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12" *ngIf="
                              rowData['saStatus'] === '2' && rowData['canRegister'] === 0
                            ">
                      <button pButton type="button" label="ยกเลิกการขออนุมัติพิเศษ" class="ui-button-danger"
                        [disabled]="rowData['canRegister'] !== 0"
                        (click)="cancelApprovalCourse(rowData['id'])"></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="คอร์สเรียนที่ไม่ผ่าน">
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div style="text-align:center">
          <h1>ตารางคอร์สที่ไม่ผ่าน</h1>
        </div>
        <div class="line"></div>
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
            <p-messages [value]="msgs"></p-messages>
            <p-table #dt [columns]="cols" [value]="courses3" [paginator]="true" [rows]="5" [responsive]="true"
              selectionMode="single" [(selection)]="selectedCourse" (onRowSelect)="onRowSelect($event)" [lazy]="true"
              (onLazyLoad)="loadData1($event)" [totalRecords]="TotalCourseNotPass" [loading]="loading">
              <ng-template pTemplate="caption">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 ui-lg-3 ui-md-3 ui-sm-12" style="margin-left: auto;">
                    <div class="ui-inputgroup">
                      <fa-icon [icon]="['fas', 'search']" class="ui-inputgroup-addon"></fa-icon>
                      <input type="text" pInputText placeholder="ค้นหา"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" />
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pSortableColumn="date">
                    วันที่
                    <p-sortIcon field="date" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="name" class="ui-p-4">
                    ชื่อคอร์ส
                    <p-sortIcon field="name" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="location" class="ui-p-5">
                    สถานที่
                    <p-sortIcon field="location" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="conditionMin" class="ui-p-6">
                    หมายเหตุ
                    <p-sortIcon field="conditionMin" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th class="ui-p-6">
                    สถานะ
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td *ngFor="let col of columns">
                    <div>
                      <span class="ui-column-title">{{ col.header }}</span>
                      <div *ngIf="rowData[col.field] == rowData['stDate']">
                        {{ rowData["stDate"] | date:'dd/MM/yyyy'}} - {{ rowData["endDate"] | date:'dd/MM/yyyy'}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['name']">
                        {{ rowData["name"] }}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['locationName']">
                        {{ rowData["locationName"] }}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['conditionMin']">
                        ต้องผ่านอย่างน้อย {{ rowData["conditionMin"] }} คอร์ส
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['status']">
                        {{ rowData["status"] }}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="ui-g" style="text-align: center" *ngIf="
                              rowData['saStatus'] !== '2' && rowData['canRegister'] === 1
                            ">
                      <div class="ui-g-5 ui-lg-5 ui-md-12 ui-sm-12">
                        <button pButton type="button" label="สมัคร" (click)="mhcCourse(rowData['id'])"
                          [disabled]="rowData['canRegister'] === 0"></button>
                      </div>
                      <div class="ui-g-7 ui-lg-7 ui-md-12 ui-sm-12">
                        <button pButton type="button" label="ขออนุมัติพิเศษ" class="ui-button-success"
                          [disabled]="rowData['canRegister'] === 0 " (click)="saCourse(rowData['id'])"></button>
                      </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12" *ngIf="
                              rowData['saStatus'] === '2' && rowData['canRegister'] === 0
                            ">
                      <button pButton type="button" label="ยกเลิกการขออนุมัติพิเศษ" class="ui-button-danger"
                        [disabled]="rowData['canRegister'] !== 0"
                        (click)="cancelApprovalCourse(rowData['id'])"></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>



<p-dialog header="ข้อความจากระบบ" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [style]="{ width: '500px', minwidth: '450px' }" (onHide)="cancelDialog('2', specialCourse);">
  <div class="ui-g-12">
    <div class="ui-g-4">
      <span>การเดินทางมาที่วัด*</span>
    </div>
    <div class="ui-g-8">
      <p-dropdown [options]="transportations" required [(ngModel)]="specialApprove.tranId" #specialCourse="ngModel" optionLabel="tranName"
        [autoWidth]="false" placeholder="กรุณาเลือกการเดินทาง" [style]="{ width: '70%' }"></p-dropdown>
        <div *ngIf="specialCourse.invalid && (specialCourse.dirty || specialCourse.touched)" class="alert alert-danger">
          <div *ngIf="specialCourse.errors.required" style="color: red">กรุณาเลือกการเดินทาง*</div>
        </div>
    </div>
    <div class="ui-g-4">
      <span>กรุณาเล่าประสบการณ์ปฎิบัติธรรมที่ผ่านมา</span>
    </div>
    <div class="ui-g-6">
      <textarea pInputTextarea id="name" [(ngModel)]="specialApprove.senseExperience"></textarea>
    </div>
    <div class="ui-g-4">
      <span>ความคาดหวังในครั้งนี้</span>
    </div>
    <div class="ui-g-6">
      <textarea pInputTextarea id="name" [(ngModel)]="specialApprove.senseExpected"></textarea>
    </div>
    <div class="ui-g-4">
      <label for="name">เหตุผลในการขออนุมัติพิเศษ*</label>
    </div>
    <div class="ui-g-8">
      <textarea pInputTextarea id="name" [(ngModel)]="specialApprove.detail"></textarea>
    </div>
  </div>
  <p-footer>
    <div>
      <button type="button" pButton (click)="approvalCourse(specialApprove.tranId.tranId)"
      [disabled]="specialCourse.pristine || specialCourse.invalid" label="ยืนยัน"></button>
      <button type="button" class="ui-button-danger" pButton (click)="displayDialog = false" label="ยกเลิก"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="ข้อความจากระบบ" [(visible)]="displayDialogmhc" [responsive]="true" showEffect="fade" [modal]="true"
  [style]="{ width: '500px', minwidth: '450px' }"(onHide) = "cancelDialog('1', Course);" >
  <div class="ui-g-12">
    <div class="ui-g-4">
      <span>การเดินทางมาที่วัด*</span>
    </div>
    <div class="ui-g-8">
      <p-dropdown [options]="transportations" required [(ngModel)]="sensations.tranId" #Course="ngModel" optionLabel="tranName" [autoWidth]="false"
        placeholder="กรุณาเลือกการเดินทาง" [style]="{ width: '70%' }"></p-dropdown>
        <div *ngIf="Course.invalid && (Course.dirty || Course.touched)" class="alert alert-danger">
          <div *ngIf="Course.errors.required" style="color: red">กรุณาเลือกการเดินทาง*</div>
        </div>
    </div>
    <div class="ui-g-4">
      <span>กรุณาเล่าประสบการณ์ปฎิบัติธรรมที่ผ่านมา</span>
    </div>
    <div class="ui-g-6">
      <textarea pInputTextarea id="name" [(ngModel)]="sensations.senseExperience"></textarea>
    </div>
    <div class="ui-g-4">
      <span>ความคาดหวังในครั้งนี้</span>
    </div>
    <div class="ui-g-6">
      <textarea pInputTextarea id="name" [(ngModel)]="sensations.senseExpected"></textarea>
    </div>
  </div>
  <p-footer>
    <div>
      <button type="button" pButton (click)="assignCourse(sensations.tranId.tranId)" [disabled]="Course.pristine || Course.invalid" label="ยืนยัน"></button>
      <button type="button" class="ui-button-danger" pButton (click)="displayDialogmhc = false" label="ยกเลิก"></button>
    </div>
  </p-footer>
</p-dialog>
